@charset: "UTF-8";

body {
  margin: 30px;
  background: url(https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=61282cfeed75871385c84c2a44a8e594) no-repeat fixed center center;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px;
  box-sizing: border-box;
  background-color: rgba(255,255,255, 0.7);
}

.column .box {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: .8em 1.8em;
  line-height: 1;
  border-radius: 3px;
  background-color: #999;
}
.btn:hover {
  color: #fff;
  background-color: #333;
}

.sub {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  -moz-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  -webkit-transition-duration: 250ms;
  transition-duration: 250ms;
  -moz-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
  -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 0.1);
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;

  transform: translateX(-102%);
}

.sub.show {
  transform: translateX(0);
}

@media screen and (max-width: 640px) {
  .column .box {
    display: block;
    width: 100%;
  }
}
